---
version: 2
interactions:
    - id: 0
      request:
        host: api.cloudns.net
        body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","host":"YjytkxxYk6HBDSu7","record":"127.0.0.1","record-type":"A","ttl":3600}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/add-record.json
        method: POST
      response:
        body: '{"status":"Success","statusDescription":"The record was added successfully.","data":{"id":273123239}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 185.262625ms
    - id: 1
      request:
        host: api.cloudns.net
        body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","host":"YjytkxxYk6HBDSu7","type":"A"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/records.json
        method: POST
      response:
        body: '{"273123239":{"id":"273123239","type":"A","host":"yjytkxxyk6hbdsu7","record":"127.0.0.1","dynamicurl_status":0,"failover":"0","ttl":"3600","status":1}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.313667ms
    - id: 2
      request:
        host: api.cloudns.net
        body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","record-id":273123239,"status":0}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/change-record-status.json
        method: POST
      response:
        body: '{"status":"Success","statusDescription":"Record deactivated"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.535125ms
    - id: 3
      request:
        host: api.cloudns.net
        body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","record-id":273123239}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/delete-record.json
        method: POST
      response:
        body: '{"status":"Success","statusDescription":"The record was deleted successfully."}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 137.428042ms
