---
version: 1
interactions:
- request:
    body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudns.net/dns/update-zone.json
    method: POST
  response:
    body: '{"status":"Success","statusDescription":"Domain zone api-example.com was
      updated successfully."}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudns.net/dns/is-updated.json
    method: POST
  response:
    body: "false"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
