---
version: 2
interactions:
    - id: 0
      request:
        host: api.cloudns.net
        body: '{"auth-id":"[filtered]","auth-password":"[filtered]","content":"=:1.2.3.4","delete-existing-records":0,"domain-name":"api-example.com","format":"tinydns"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/records-import.json
        method: POST
      response:
        body: '{"status":"Success","statusDescription":"The records of api-example.com were added successfully."}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 158.5655ms
