---
version: 1
interactions:
- request:
    body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","host":"HGm7eCEdcw5Cc7Cr","port":0,"priority":0,"record":"127.0.0.1","record-type":"A","ttl":3600,"weight":0}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudns.net/dns/add-record.json
    method: POST
  response:
    body: '{"status":"Success","statusDescription":"The record was added successfully.","data":{"id":194582276}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","host":"HGm7eCEdcw5Cc7Cr","type":"A"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudns.net/dns/records.json
    method: POST
  response:
    body: '{"194582276":{"id":"194582276","type":"A","host":"hgm7ecedcw5cc7cr","record":"127.0.0.1","dynamicurl_status":0,"failover":"0","ttl":"3600","status":1}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"auth-id":"[filtered]","auth-password":"[filtered]","content":"@ 3600
      IN A 1.2.3.4","delete-existing-records":1,"domain-name":"api-example.com","format":"bind"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudns.net/dns/records-import.json
    method: POST
  response:
    body: '{"status":"Success","statusDescription":"The records of api-example.com
      were added successfully."}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","record-id":194582276}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudns.net/dns/delete-record.json
    method: POST
  response:
    body: '{"status":"Failed","statusDescription":"Invalid record-id param."}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
