---
version: 1
interactions:
- request:
    body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","host":"jPlsLLLj0kmYXUe9","port":0,"priority":0,"record":"127.0.0.1","record-type":"A","ttl":3600,"weight":0}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudns.net/dns/add-record.json
    method: POST
  response:
    body: '{"status":"Success","statusDescription":"The record was added successfully.","data":{"id":194561102}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","host":"jPlsLLLj0kmYXUe9","type":"A"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudns.net/dns/records.json
    method: POST
  response:
    body: '{"194561102":{"id":"194561102","type":"A","host":"jplslllj0kmyxue9","record":"127.0.0.1","dynamicurl_status":0,"failover":"0","ttl":"3600","status":1}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","record-id":194561102}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudns.net/dns/delete-record.json
    method: POST
  response:
    body: '{"status":"Success","statusDescription":"The record was deleted successfully."}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
