---
version: 2
interactions:
    - id: 0
      request:
        host: api.cloudns.net
        body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","host":"localhost","record":"127.0.0.1","record-type":"A","ttl":3600}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/add-record.json
        method: POST
      response:
        body: '{"status":"Success","statusDescription":"The record was added successfully.","data":{"id":273123234}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 164.795833ms
