---
version: 1
interactions:
- request:
    body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudns.net/dns/soa-details.json
    method: POST
  response:
    body: '{"serialNumber":"2022122400","primaryNS":"ns1.api-example.com","adminMail":"nQmIlYSIjWPcOuAR@api-example.com","refresh":"7200","retry":"1800","expire":"1209600","defaultTTL":"3600"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
