---
version: 2
interactions:
    - id: 0
      request:
        host: api.cloudns.net
        body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","host":"n8ruhqriccqxunrx","record":"192.0.2.100","record-type":"A","ttl":60}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/add-record.json
        method: POST
      response:
        body: '{"status":"Success","statusDescription":"The record was added successfully.","data":{"id":273123253}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 193.885541ms
    - id: 1
      request:
        host: api.cloudns.net
        body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","host":"n8ruhqriccqxunrx","type":"A"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/records.json
        method: POST
      response:
        body: '{"273123253":{"id":"273123253","type":"A","host":"n8ruhqriccqxunrx","record":"192.0.2.100","dynamicurl_status":0,"failover":"0","ttl":"60","status":1}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.093416ms
    - id: 2
      request:
        host: api.cloudns.net
        body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","host":"n8ruhqriccqxunrx","record":"192.0.2.200","record-id":273123253,"record-type":"A","ttl":300}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/mod-record.json
        method: POST
      response:
        body: '{"status":"Success","statusDescription":"The record was modified successfully."}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 209.304417ms
[...]
    - id: 4
      request:
        host: api.cloudns.net
        body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","record-id":273123253}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/delete-record.json
        method: POST
      response:
        body: '{"status":"Success","statusDescription":"The record was deleted successfully."}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 135.548583ms
[...]
    - id: 10
      request:
        host: api.cloudns.net
        body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","host":"7gxivyhwktthvfdk","priority":100,"record":"mx1.local","record-type":"MX","ttl":60}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/add-record.json
        method: POST
      response:
        body: '{"status":"Success","statusDescription":"The record was added successfully.","data":{"id":273123257}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 175.041084ms
[...]
    - id: 30
      request:
        host: api.cloudns.net
        body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","host":"_test._tcp.xbci0nptqgtyf4fn","port":30,"priority":10,"record":"srv1.local","record-type":"SRV","ttl":60,"weight":20}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/add-record.json
        method: POST
      response:
        body: '{"status":"Success","statusDescription":"The record was added successfully.","data":{"id":273123262}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 151.668583ms
[...]
    - id: 35
      request:
        host: api.cloudns.net
        body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","frame":"1","frame-description":"D","frame-keywords":"K","frame-title":"T","host":"uxtfuycqfhtri8eb","record":"http://www1.local","record-type":"WR","redirect-type":0,"save-path":0,"ttl":60}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/add-record.json
        method: POST
      response:
        body: '{"status":"Success","statusDescription":"The record was added successfully.","data":{"id":273123264}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 202.535ms
    - id: 36
      request:
        host: api.cloudns.net
        body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","host":"uxtfuycqfhtri8eb","type":"WR"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/records.json
        method: POST
      response:
        body: '{"273123264":{"id":"273123264","type":"WR","host":"uxtfuycqfhtri8eb","record":"http:\/\/www1.local","frame":"1","frame_title":"T","frame_description":"D","frame_keywords":"K","frame_favicon":"","mobile_meta":"","redirect_type":"0","save_path":"0","failover":"0","ttl":"60","status":1}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.5615ms
[...]
    - id: 45
      request:
        host: api.cloudns.net
        body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","host":"yxb3d7jxcnai7lck","mail":"admin1@mail.local","record":"","record-type":"RP","ttl":60,"txt":"txt1.local"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/add-record.json
        method: POST
      response:
        body: '{"status":"Success","statusDescription":"The record was added successfully.","data":{"id":273123266}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 159.143083ms
[...]
    - id: 50
      request:
        host: api.cloudns.net
        body: '{"algorithm":1,"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","fptype":1,"host":"liny3g3qu8rvtnxn","record":"4fca1fe60ec4fca4053504f4fcab0d5d7c99bd0f","record-type":"SSHFP","ttl":60}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/add-record.json
        method: POST
      response:
        body: '{"status":"Success","statusDescription":"The record was added successfully.","data":{"id":273123267}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 172.11475ms
    - id: 51
      request:
        host: api.cloudns.net
        body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","host":"liny3g3qu8rvtnxn","type":"SSHFP"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/records.json
        method: POST
      response:
        body: '{"273123267":{"id":"273123267","type":"SSHFP","host":"liny3g3qu8rvtnxn","record":"4fca1fe60ec4fca4053504f4fcab0d5d7c99bd0f","algorithm":"1","fp_type":"1","failover":"0","ttl":"60","status":1}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.342792ms
[...]
    - id: 55
      request:
        host: api.cloudns.net
        body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","flag":"U","host":"b9bceyq6nttnlnjo","order":10,"params":"svc1.local","pref":20,"record":"","record-type":"NAPTR","regexp":"Hello","replace":"","ttl":60}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/add-record.json
        method: POST
      response:
        body: '{"status":"Success","statusDescription":"The record was added successfully.","data":{"id":273123268}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 200.346709ms
[...]
    - id: 60
      request:
        host: api.cloudns.net
        body: '{"auth-id":"[filtered]","auth-password":"[filtered]","caa_flag":0,"caa_type":"issue","caa_value":"ca1.local","domain-name":"api-example.com","host":"ovfqijrdoidauiju","record":"","record-type":"CAA","ttl":60}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/add-record.json
        method: POST
      response:
        body: '{"status":"Success","statusDescription":"The record was added successfully.","data":{"id":273123269}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.949667ms
[...]
    - id: 65
      request:
        host: api.cloudns.net
        body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","host":"_443._tcp.sjujvgaiyhlxxojo","record":"53472ce4477a2b2f17085ff9f0b07ecad2091d25a9ec02dda622c741e62c75e4ee8dea577db822caa32935a86e52827c51bf000a65506d4f760dab7712ed9a25","record-type":"TLSA","tlsa_matching_type":2,"tlsa_selector":1,"tlsa_usage":0,"ttl":60}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/add-record.json
        method: POST
      response:
        body: '{"status":"Success","statusDescription":"The record was added successfully.","data":{"id":273123270}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 164.491375ms
[...]
