---
version: 2
interactions:
    - id: 0
      request:
        host: api.cloudns.net
        body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/update-zone.json
        method: POST
      response:
        body: '{"status":"Success","statusDescription":"Domain zone api-example.com was updated successfully."}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.108667ms
    - id: 1
      request:
        host: api.cloudns.net
        body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/is-updated.json
        method: POST
      response:
        body: "false"
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 278.078083ms
