---
version: 2
interactions:
    - id: 0
      request:
        host: api.cloudns.net
        body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","host":"xMwhqDbDpELXj7A2","record":"127.0.0.1","record-type":"A","ttl":3600}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/add-record.json
        method: POST
      response:
        body: '{"status":"Success","statusDescription":"The record was added successfully.","data":{"id":273123244}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 162.919417ms
    - id: 1
      request:
        host: api.cloudns.net
        body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","host":"xMwhqDbDpELXj7A2","type":"A"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/records.json
        method: POST
      response:
        body: '{"273123244":{"id":"273123244","type":"A","host":"xmwhqdbdpelxj7a2","record":"127.0.0.1","dynamicurl_status":0,"failover":"0","ttl":"3600","status":1}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.833958ms
    - id: 2
      request:
        host: api.cloudns.net
        body: '{"auth-id":"[filtered]","auth-password":"[filtered]","content":"=:1.2.3.4","delete-existing-records":1,"domain-name":"api-example.com","format":"tinydns"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/records-import.json
        method: POST
      response:
        body: '{"status":"Success","statusDescription":"The records of api-example.com were added successfully."}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 194.45325ms
[...]
    - id: 4
      request:
        host: api.cloudns.net
        body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","record-id":273123244}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/delete-record.json
        method: POST
      response:
        body: '{"status":"Failed","statusDescription":"Invalid record-id param."}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.969541ms
