---
version: 2
interactions:
    - id: 0
      request:
        host: api.cloudns.net
        body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/records-export.json
        method: POST
      response:
        body: '{"status":"Success","zone":"$ORIGIN api-example.com.\n@\t3600\tIN\tSOA\tns1.api-example.com. 2xuP7ewOGcy1I6hU.api-example.com. 2022122491 7200 1800 1209600 3600\n@\t3600\tIN\tA\t1.2.3.4\n@\t3600\tIN\tNS\tdns1.cloudns.net.\n@\t3600\tIN\tNS\tdns2.cloudns.net.\n@\t3600\tIN\tNS\tdns5.cloudns.net.\n@\t3600\tIN\tNS\tdns6.cloudns.net.\n"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 279.047167ms
