---
version: 1
interactions:
- request:
    body: '{"auth-id":"[filtered]","auth-password":"[filtered]","rows-per-page":100}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudns.net/dns/get-pages-count.json
    method: POST
  response:
    body: "1"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"auth-id":"[filtered]","auth-password":"[filtered]","page":1,"rows-per-page":100}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudns.net/dns/list-zones.json
    method: POST
  response:
    body: '[{"name":"0.8.8.e.6.0.a.2.ip6.arpa","type":"slave","zone":"ipv6","status":"1"},{"name":"0.e.4.0.c.7.6.0.1.0.0.2.ip6.arpa","type":"slave","zone":"ipv6","status":"1"},{"name":"210.133.185.in-addr.arpa","type":"slave","zone":"ipv4","status":"1"},{"name":"api-example-2.com","type":"master","zone":"domain","status":"1"},{"name":"api-example.com","type":"master","zone":"domain","status":"1"},{"name":"as200753.com","type":"slave","zone":"domain","status":"1"},{"name":"as200753.net","type":"slave","zone":"domain","status":"1"},{"name":"bsl1.ssx.li","type":"mas[...]
