---
version: 2
interactions:
    - id: 0
      request:
        host: api.cloudns.net
        body: '{"auth-id":"[filtered]","auth-password":"[filtered]"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/available-name-servers.json
        method: POST
      response:
        body: '[{"type":"premium","name":"dns1.cloudns.net","ip4":"185.136.96.77","ip6":"2a06:fb00:1::1:77","location":"Anycast Network","location_cc":"anycast","ddos_protected":1},{"type":"premium","name":"dns2.cloudns.net","ip4":"185.136.97.77","ip6":"2a06:fb00:1::2:77","location":"Anycast Network","location_cc":"anycast","ddos_protected":1},{"type":"premium","name":"dns5.cloudns.net","ip4":"185.136.98.77","ip6":"2a06:fb00:1::3:77","location":"Anycast Network","location_cc":"anycast","ddos_protected":1},{"type":"premium","name":"dns6.cloudns.net","ip4":"185.136.99.77","ip6":"2a06:fb00:1::4:77","location":"Anycast Network","location_cc":"anycast","ddos_protected":1}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 311.206041ms
