---
version: 1
interactions:
- request:
    body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","host":"h9qjnzwwvayo8doi","record":"192.0.2.100","record-type":"A","ttl":60}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudns.net/dns/add-record.json
    method: POST
  response:
    body: '{"status":"Success","statusDescription":"The record was added successfully.","data":{"id":273120527}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","host":"h9qjnzwwvayo8doi","type":"A"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudns.net/dns/records.json
    method: POST
  response:
    body: '{"273120527":{"id":"273120527","type":"A","host":"h9qjnzwwvayo8doi","record":"192.0.2.100","dynamicurl_status":0,"failover":"0","ttl":"60","status":1}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","host":"h9qjnzwwvayo8doi","record":"192.0.2.200","record-id":273120527,"record-type":"A","ttl":300}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudns.net/dns/mod-record.json
    method: POST
  response:
    body: '{"status":"Success","statusDescription":"The record was modified successfully."}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","record-id":273120527}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudns.net/dns/delete-record.json
    method: POST
  response:
    body: '{"status":"Success","statusDescription":"The record was deleted successfully."}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","host":"ukkqirrmpvv6elza","priority":100,"record":"mx1.local","record-type":"MX","ttl":60}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudns.net/dns/add-record.json
    method: POST
  response:
    body: '{"status":"Success","statusDescription":"The record was added successfully.","data":{"id":273120529}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","host":"_test._tcp.i2jgarukrwcr0zk9","port":30,"priority":10,"record":"srv1.local","record-type":"SRV","ttl":60,"weight":20}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudns.net/dns/add-record.json
    method: POST
  response:
    body: '{"status":"Success","statusDescription":"The record was added successfully.","data":{"id":273120533}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","frame":"1","frame-description":"D","frame-keywords":"K","frame-title":"T","host":"paguioyxkdyqjawi","record":"http://www1.local","record-type":"WR","redirect-type":0,"save-path":0,"ttl":60}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudns.net/dns/add-record.json
    method: POST
  response:
    body: '{"status":"Success","statusDescription":"The record was added successfully.","data":{"id":273120534}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","host":"paguioyxkdyqjawi","type":"WR"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudns.net/dns/records.json
    method: POST
  response:
    body: '{"273120534":{"id":"273120534","type":"WR","host":"paguioyxkdyqjawi","record":"http:\/\/www1.local","frame":"1","frame_title":"T","frame_description":"D","frame_keywords":"K","frame_favicon":"","mobile_meta":"","redirect_type":"0","save_path":"0","failover":"0","ttl":"60","status":1}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","host":"bj1ajeskbv5nwisx","mail":"admin1@mail.local","record":"","record-type":"RP","ttl":60,"txt":"txt1.local"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudns.net/dns/add-record.json
    method: POST
  response:
    body: '{"status":"Success","statusDescription":"The record was added successfully.","data":{"id":273120539}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"algorithm":1,"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","fptype":1,"host":"due2qjaud4wlmh9f","record":"4fca1fe60ec4fca4053504f4fcab0d5d7c99bd0f","record-type":"SSHFP","ttl":60}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudns.net/dns/add-record.json
    method: POST
  response:
    body: '{"status":"Success","statusDescription":"The record was added successfully.","data":{"id":273120540}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","host":"due2qjaud4wlmh9f","type":"SSHFP"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudns.net/dns/records.json
    method: POST
  response:
    body: '{"273120540":{"id":"273120540","type":"SSHFP","host":"due2qjaud4wlmh9f","record":"4fca1fe60ec4fca4053504f4fcab0d5d7c99bd0f","algorithm":"1","fp_type":"1","failover":"0","ttl":"60","status":1}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","flag":"U","host":"a1nudqfzmrazpaxz","order":10,"params":"svc1.local","pref":20,"record":"","record-type":"NAPTR","regexp":"Hello","replace":"","ttl":60}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudns.net/dns/add-record.json
    method: POST
  response:
    body: '{"status":"Success","statusDescription":"The record was added successfully.","data":{"id":273120541}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"auth-id":"[filtered]","auth-password":"[filtered]","caa_flag":0,"caa_type":"issue","caa_value":"ca1.local","domain-name":"api-example.com","host":"gsinbsmqsorykjfk","record":"","record-type":"CAA","ttl":60}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudns.net/dns/add-record.json
    method: POST
  response:
    body: '{"status":"Success","statusDescription":"The record was added successfully.","data":{"id":273120542}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","host":"_443._tcp.vdate8yr87jvzhq3","record":"53472ce4477a2b2f17085ff9f0b07ecad2091d25a9ec02dda622c741e62c75e4ee8dea577db822caa32935a86e52827c51bf000a65506d4f760dab7712ed9a25","record-type":"TLSA","tlsa_matching_type":2,"tlsa_selector":1,"tlsa_usage":0,"ttl":60}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudns.net/dns/add-record.json
    method: POST
  response:
    body: '{"status":"Success","statusDescription":"The record was added successfully.","data":{"id":273120543}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
