---
version: 2
interactions:
    - id: 0
      request:
        host: api.cloudns.net
        body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","host":"nYcbd21avZpQW4Fv","record":"127.0.0.1","record-type":"A","ttl":3600}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/add-record.json
        method: POST
      response:
        body: '{"status":"Success","statusDescription":"The record was added successfully.","data":{"id":273123250}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 170.111792ms
    - id: 1
      request:
        host: api.cloudns.net
        body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","host":"nYcbd21avZpQW4Fv","type":"A"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/records.json
        method: POST
      response:
        body: '{"273123250":{"id":"273123250","type":"A","host":"nycbd21avzpqw4fv","record":"127.0.0.1","dynamicurl_status":0,"failover":"0","ttl":"3600","status":1}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.220875ms
    - id: 2
      request:
        host: api.cloudns.net
        body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","record-id":273123250}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/get-dynamic-url.json
        method: POST
      response:
        body: '{"host":"nycbd21avzpqw4fv.api-example.com","url":"https:\/\/ipv4.cloudns.net\/api\/dynamicURL\/?q=NDYwNTk5MDoyNzMxMjMyNTA6Y2QyNjU5YjBjMTc1ZDNkODViZmU3MmRmZjlhNzZmZWRkMjQ1NzlmNjQwMmUwNzM0N2UxZWJmZDZiZWYzMTcxYQ"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 149.300166ms
    - id: 3
      request:
        host: api.cloudns.net
        body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","record-id":273123250}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/disable-dynamic-url.json
        method: POST
      response:
        body: '{"status":"Success","statusDescription":"The DynamicURL of nycbd21avzpqw4fv.api-example.com was deactivated."}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 139.249375ms
    - id: 4
      request:
        host: api.cloudns.net
        body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","record-id":273123250}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/delete-record.json
        method: POST
      response:
        body: '{"status":"Success","statusDescription":"The record was deleted successfully."}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 136.608542ms
