---
version: 1
interactions:
- request:
    body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudns.net/dns/soa-details.json
    method: POST
  response:
    body: '{"serialNumber":"2022122400","primaryNS":"ns1.api-example.com","adminMail":"nQmIlYSIjWPcOuAR@api-example.com","refresh":"7200","retry":"1800","expire":"1209600","defaultTTL":"3600"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"admin-mail":"tqGYy551m4I699Uc@api-example.com","auth-id":"[filtered]","auth-password":"[filtered]","default-ttl":3600,"domain-name":"api-example.com","expire":1209600,"primary-ns":"ns1.api-example.com","refresh":7200,"retry":1800}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudns.net/dns/modify-soa.json
    method: POST
  response:
    body: '{"status":"Success","statusDescription":"The SOA record was modified successfully."}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
