---
version: 1
interactions:
- request:
    body: '{"auth-id":"[filtered]","auth-password":"[filtered]","rows-per-page":100}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudns.net/dns/get-pages-count.json
    method: POST
  response:
    body: "1"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"auth-id":"[filtered]","auth-password":"[filtered]","page":1,"rows-per-page":100}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudns.net/dns/list-zones.json
    method: POST
  response:
    body: '[{"group":"None","hasBulk":false,"isUpdated":1,"name":"api-example.com","serial":"2022122471","status":"1","type":"master","zone":"domain"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
