---
version: 2
interactions:
    - id: 0
      request:
        host: api.cloudns.net
        body: '{"domain-name":"sampion.io","ns":[],"zone-type":"master"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/add-record.json
        method: POST
      response:
        body: '{"status":"Failed","statusDescription":"Invalid authentication, incorrect user ID or password."}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 605.6862ms
    - id: 1
      request:
        host: api.cloudns.net
        body: '{"domain-name":"sampion.io","ns":[],"zone-type":"master"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/register.json
        method: POST
      response:
        body: '{"status":"Failed","statusDescription":"Invalid authentication, incorrect user ID or password."}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 734.0522ms
