---
version: 1
interactions:
- request:
    body: '{"auth-id":"[filtered]","auth-password":"[filtered]","rows-per-page":100,"search":"api-example.com"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudns.net/dns/get-pages-count.json
    method: POST
  response:
    body: "1"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"auth-id":"[filtered]","auth-password":"[filtered]","page":1,"rows-per-page":100,"search":"api-example.com"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudns.net/dns/list-zones.json
    method: POST
  response:
    body: '[{"name":"api-example.com","type":"master","group":"None","hasBulk":false,"zone":"domain","status":"1","serial":"2022122468","isUpdated":0}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
