---
version: 2
interactions:
    - id: 0
      request:
        host: api.cloudns.net
        body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/update-status.json
        method: POST
      response:
        body: '[{"server":"dns1.cloudns.net","ip4":"185.136.96.77","ip6":"2a06:fb00:1::1:77","updated":false},{"server":"dns2.cloudns.net","ip4":"185.136.97.77","ip6":"2a06:fb00:1::2:77","updated":false},{"server":"dns5.cloudns.net","ip4":"185.136.98.77","ip6":"2a06:fb00:1::3:77","updated":false},{"server":"dns6.cloudns.net","ip4":"185.136.99.77","ip6":"2a06:fb00:1::4:77","updated":false}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 275.058875ms
