---
version: 1
interactions:
- request:
    body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","host":"PJmZPs80QW44QfmR","record":"127.0.0.1","record-type":"A","ttl":3600}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudns.net/dns/add-record.json
    method: POST
  response:
    body: '{"status":"Success","statusDescription":"The record was added successfully.","data":{"id":273120514}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","host":"PJmZPs80QW44QfmR","type":"A"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudns.net/dns/records.json
    method: POST
  response:
    body: '{"273120514":{"id":"273120514","type":"A","host":"pjmzps80qw44qfmr","record":"127.0.0.1","dynamicurl_status":0,"failover":"0","ttl":"3600","status":1}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","record-id":273120514}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudns.net/dns/delete-record.json
    method: POST
  response:
    body: '{"status":"Success","statusDescription":"The record was deleted successfully."}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
