---
version: 2
interactions:
    - id: 0
      request:
        host: api.cloudns.net
        body: '{"auth-id":"[filtered]","auth-password":"[filtered]"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/get-zones-stats.json
        method: POST
      response:
        body: '{"count":"35","limit":"75"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.927917ms
