---
version: 2
interactions:
    - id: 0
      request:
        host: api.cloudns.net
        body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/soa-details.json
        method: POST
      response:
        body: '{"serialNumber":"2022122471","primaryNS":"ns1.api-example.com","adminMail":"tqGYy551m4I699Uc@api-example.com","refresh":"7200","retry":"1800","expire":"1209600","defaultTTL":"3600"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.526584ms
    - id: 1
      request:
        host: api.cloudns.net
        body: '{"admin-mail":"2xuP7ewOGcy1I6hU@api-example.com","auth-id":"[filtered]","auth-password":"[filtered]","default-ttl":3600,"domain-name":"api-example.com","expire":1209600,"primary-ns":"ns1.api-example.com","refresh":7200,"retry":1800}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/modify-soa.json
        method: POST
      response:
        body: '{"status":"Success","statusDescription":"The SOA record was modified successfully."}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.424458ms
