---
version: 1
interactions:
- request:
    body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudns.net/dns/soa-details.json
    method: POST
  response:
    body: '{"serialNumber":"2019124089","primaryNS":"ns1.ssx.li","adminMail":"h7TT84lu33iEsG0S@api-example.com","refresh":"7200","retry":"1800","expire":"1209600","defaultTTL":"300"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
