---
version: 2
interactions:
    - id: 0
      request:
        host: api.cloudns.net
        body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","host":"MNRKnu2X2vynxNpb","record":"127.0.0.1","record-type":"A","ttl":3600}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/add-record.json
        method: POST
      response:
        body: '{"status":"Success","statusDescription":"The record was added successfully.","data":{"id":273123247}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 163.587042ms
    - id: 1
      request:
        host: api.cloudns.net
        body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","host":"MNRKnu2X2vynxNpb","type":"A"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/records.json
        method: POST
      response:
        body: '{"273123247":{"id":"273123247","type":"A","host":"mnrknu2x2vynxnpb","record":"127.0.0.1","dynamicurl_status":0,"failover":"0","ttl":"3600","status":1}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.624791ms
    - id: 2
      request:
        host: api.cloudns.net
        body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","record-id":273123247}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/get-dynamic-url.json
        method: POST
      response:
        body: '{"host":"mnrknu2x2vynxnpb.api-example.com","url":"https:\/\/ipv4.cloudns.net\/api\/dynamicURL\/?q=NDYwNTk5MDoyNzMxMjMyNDc6ZjUxNTgyNzdiMjQ4Mzg3ZTg5ZWE2NGYzMzFmOTRlMjcxNmJmOGFmMzk1YTQ4YzgwNThjODBjOTg5MDRmYjMzNg"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 150.48675ms
    - id: 3
      request:
        host: api.cloudns.net
        body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","record-id":273123247}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/change-dynamic-url.json
        method: POST
      response:
        body: '{"host":"mnrknu2x2vynxnpb.api-example.com","url":"https:\/\/ipv4.cloudns.net\/api\/dynamicURL\/?q=NDYwNTk5MDoyNzMxMjMyNDc6YTM2ZWUwNTQ5OGViZDhlYjc1YWQ0OTQ4ZDBkMDI3YzdlNzc2ZWJiNzdmYzg1ZTQ2Nzk4MjkxZGEzODUxMTI3Yw"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 155.058459ms
    - id: 4
      request:
        host: api.cloudns.net
        body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","record-id":273123247}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.cloudns.net/dns/delete-record.json
        method: POST
      response:
        body: '{"status":"Success","statusDescription":"The record was deleted successfully."}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.8545ms
