---
version: 1
interactions:
- request:
    body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","host":"ZSRVVRUg1FDeWQBk","port":0,"priority":0,"record":"127.0.0.1","record-type":"A","ttl":3600,"weight":0}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudns.net/dns/add-record.json
    method: POST
  response:
    body: '{"status":"Success","statusDescription":"The record was added successfully.","data":{"id":194582283}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","host":"ZSRVVRUg1FDeWQBk","type":"A"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudns.net/dns/records.json
    method: POST
  response:
    body: '{"194582283":{"id":"194582283","type":"A","host":"zsrvvrug1fdewqbk","record":"127.0.0.1","dynamicurl_status":0,"failover":"0","ttl":"3600","status":1}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","record-id":194582283}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudns.net/dns/disable-dynamic-url.json
    method: POST
  response:
    body: '{"status":"Success","statusDescription":"The DynamicURL of zsrvvrug1fdewqbk.api-example.com
      was deactivated."}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"auth-id":"[filtered]","auth-password":"[filtered]","domain-name":"api-example.com","record-id":194582283}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.cloudns.net/dns/delete-record.json
    method: POST
  response:
    body: '{"status":"Success","statusDescription":"The record was deleted successfully."}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
